# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment folders
venv/
ENV/

# Ignore IDE config files and folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore temporary files
*.swp
*.bak
*.tmp

# Ignore environment and coverage files
.env
*.coverage
